<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>プライバシーポリシー | CampusLab</title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/footer-pages.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header id = "header">

        <div class="wrapper">
            <a href="/"><h2>うらシラバス</h2></a>
        </div>
        
    </header>
 

    <main>
        <div class="wrapper">
            <h2>プライバシーポリシー</h2>
            <p>ここでは情報の取り扱いについて説明しています。</p>
            <ul>
                <li>第三者に無断で提供しません。</li>
                <li>必要に応じて情報を更新します。</li>
                <li>掲示板に書き込む内容は全ユーザーに見えるので個人情報は記入しないでください。</li>
                <li>投稿内容やアクセス履歴は、サービス改善や不正利用防止のために分析することがあります。</li>
                <li>安全管理のため、必要に応じて技術的・物理的な保護措置を講じます。</li>
                <li>未成年のユーザーは保護者の同意を得て利用してください。</li>
                <li>本ポリシーは予告なく変更されることがあります。定期的に確認してください。</li>
            </ul>

        </div>
    </main>

    <footer>
        <div class="wrapper">
            <p>&copy; うらシラバス. All rights reserved</p>

        </div>
    </footer>
</body>
</html>
