
.all-section{
  padding-top: 32px;
  margin: 0 auto;
  width: 60%;
  

}
.all-section .section-title{
  text-align: center;
}
.form-number{
  font-size: 17px;
  text-align: center;
}
.form-number span{
  font-size: 23px;
  font-weight: bold; /* 文字を太くする */
}



.form-section{
  width: 60%;
  margin: 15px auto;
  padding: 12px 0;
  text-align: center;
  background-color: rgba(231, 231, 231, 0.9);
  border: 1px solid grey;
  border-radius: 6px;
}

.form-group select, input{
  width: 40%;
  height: 22px;
  margin: 5px 0;


}






.text-section{
  padding:  42px 22px;
}
.text-section h2{

  text-align: center;
  color: rgb(75, 75, 75);
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.3); /* 下右に薄い影 */
}



.text-section p{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 13px 0;
}


.delete-section{
  text-align: center;
  margin-bottom: 40px;
}

.delete-section a{
  border: 1px solid gray;
  color: #002fff;
  padding: 4px 6px;
  border-radius: 3px;
}


/*ーーーーーーーーーレスポンシブデザインーーーーーーーー*/
@media (max-width: 1024px) {

  .all-section{
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
  }

  .all-section .section-title{
    font-size: 20px;
  }


  .form-section{
    width: 100%;
  }
  
}




@media (max-width: 431px) {
  


  header .wrapper h2{
    font-size: 18px;
  }
  .form-number{
    font-size: 14px;
  }
  main {
    padding: 0;
    margin-top: 60px;

  }

  .all-section{
    width: 100%;
    padding-top: 20px;
  }
  .all-section .section-title{
    font-size: 14px;
  }

  .form-section{
    width: 100%;
  }
 
 
  .text-section p{
    font-size: 12px;
  }
  .form-group select, input{
    width: 42%;
  }

}


