main{ 

  align-items: center;  
  flex: 1; /* 残りの高さを自動で占有 */

}
main .wrapper{
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


main .wrapper::before {
  background-image: url("/images/background.jpg");
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5; /* ← ここで薄さを調整（0～1） */
  z-index: 0;
}

main .wrapper > * {
  position: relative;
  z-index: 1;
}


.all-section{
  margin: 50px auto;
  width: 60%;
  background-color: rgba(231, 231, 231, 0.3);
  border: 1px solid grey;
}
.form-number{
  font-size: 17px;
}
.form-number span{
  font-size: 23px;
  font-weight: bold; /* 文字を太くする */
}



.form-section{
  padding: 30px 0;
  text-align: center;
}

.form-group select, input{
  width: 25%;
  height: 22px;
  margin: 5px 0;


}






.text-section{
  padding:  42px 22px;
}
.text-section h2{

  text-align: center;
  color: rgb(75, 75, 75);
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.3); /* 下右に薄い影 */
}



.text-section p{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 13px 0;
}


.delete-section{
  text-align: center;
  margin-bottom: 40px;
}

.delete-section a{
  border: 1px solid gray;
  color: #002fff;
  padding: 4px 6px;
  border-radius: 3px;
}


/*ーーーーーーーーーレスポンシブデザインーーーーーーーー*/
@media (max-width: 431px) {
  header .wrapper h2{
    font-size: 18px;
  }
  .form-number{
    font-size: 14px;
  }
  .all-section{
    width: 100%;
    margin: 10px 0;
  }
  .text-section p{
    font-size: 12px;
  }
  .form-group select, input{
    width: 42%;
  }

}



